*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 900px;
    margin: 24px auto;
}

.box{
    width: 200px;
    height: 200px;
    background-color: #00695C;
    margin: 0 auto;
    transition: all 250ms ease 250ms;
    line-height: 200px;
}

.box:hover{
    background-color: #1B5E20;
}

h3{
    text-align: center;
    color: white;
}

h5{
    line-height: 60px;
    text-align: center;
    color: white;
    margin-left: 5px;
}

p{
    text-align: center;
    color: white;
    margin-left: 5px;
}

.box1,
.box2,
.box3,
.box4,
.box5{
    margin-top: 24px;
    width: 100px;
    height: 100px;
    background-color: #B71C1C;
}

.box1{
    transition: all 500ms linear 100ms;
}

.box2{
    transition: all 500ms ease 100ms;
}

.box3{
    transition: all 500ms ease-in 100ms;
}

.box4{
    transition: all 500ms ease-out 100ms;
}

.box5{
    transition: all 500ms ease-in-out 100ms;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover{
    width: 400px;
    background-color: #F44336;
}